.App {
  background-color: beige;
}

header {
  display: flex;
  justify-content: center;
}

.responseContainer {
  display: flex;
  justify-content: center;
}

.yourResponse {
  display: block;
  border: 2px solid rgb(0, 5, 7);
  border-radius: 2px;
  margin: 3vw;
  height: 1250px;
  width: 1000px;
  background-color: white;
}

/* .genInfoResponse,
.edInfoResponse,
.expInfoResponse {
  margin: 1vw;
  padding: 1vw;
  border: 2px solid green;
} */

.cvProjectContainer {
  margin: 1vw;
  padding: 1vw;
  display: flex;
  justify-content: center;
}

.educationInfoContainer,
.experienceInfoContainer {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 2vw;
  text-align: center;
}
.generalInfoContainer {
  display: flex;
  justify-content: center;
}

.genInfo {
  text-align: center;
}

#description {
  width: 42.4vw;
  height: 12vh;
}

.educationInfo {
}

.experienceInfo {
}

.expInputsContainer div input {
  margin-right: 3vw;
  margin-left: 3vw;
}

.mTasksResponsibilitiesInput {
  width: 42.4vw;
  height: 12vh;
}

input {
  height: 3vh;
  margin: 1vh;
  width: 13vw;
  border: 1px solid black;
}

button {
  margin: 1vw;
}

#yourCVTitle {
  display: flex;
  justify-content: center;
  font-size: xx-large;
}

.userInputsContainer {
  display: block;
  border: 2px solid rgb(0, 5, 7);
  border-radius: 2px;
  margin: 3vw;
  min-height: 1250px;
  width: 1000px;
  background-color: white;
}

.genInfoResponse {
  margin-left: 1vw;
  margin-right: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

.genInfoContainer {
  border-bottom: 5px solid blue;
  display: flex;
  align-items: center;
  margin-left: 1vw;
  margin-right: 1vw;
}

.nameTitle {
  flex: 2 1 auto;
}

.genNameResponse {
  font-size: 7vh;
  font-weight: bolder;
  color: darkblue;
}

.genTitleResponse {
  font-size: x-large;
  font-weight: bold;
  color: rgb(100, 100, 100);
}

.genContactInfo {
  margin: 1vw;
  padding: 1vw;
}

.genDescription {
  padding-left: 1vw;
  padding-right: 1vw;
}

.edInfoResponseContainer {
  margin-left: 1vw;
  margin-right: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: large;
}

#edHeader {
  color: darkblue;
  padding-left: 1vw;
}

.edInfoResponse {
  display: flex;
  padding-right: 1vw;
}

.edAreaOfStudyResponse {
  margin: 1vw;
  flex: 2 1 auto;
  font-weight: 500;
}

.edSNameResponse {
  text-decoration: underline;
  padding-right: 1vw;
}

.edDateResponse {
  padding-left: 1vw;
  font-weight: 600;
}

.lineBreak {
  white-space: pre-line;
}

.expInfoResponse {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: large;
}

#expHeader {
  color: darkblue;
  padding-left: 1vw;
  padding-right: 1vw;
}

.expTitleNameDates {
  display: flex;
  margin-left: 1vw;
}

.expPTitle {
  flex: 2 1 auto;
  font-weight: 500;
}

.expCName {
  margin-right: 1vw;
  text-decoration: underline;
}

.expDates {
  padding-right: 1vw;
  font-weight: 600;
}

.expDescription {
  margin-left: 1vw;
  padding-right: 1vw;
}
